.hotvacan{
    justify-content: space-between;
    display: flex;
    margin: 40px 40px 0;
    align-items: center;
    h2{
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 1.3px;
        line-height: 1.3;
        text-transform: uppercase;
        color: #000000cf;
    }
    p{
        color: #ff3606;
        border-bottom: 1px solid #0045cf7a;
        font-size: 12px;
        cursor: pointer;
    }
}
.containdiv{
    .buttdiv{
        text-align: center;
        button{
            background-color: #ff3606;
            color: #fff;
            border-radius: 3px;
            padding-bottom: 12px;
            padding-top: 12px;
            font-size: 14px;
            font-weight: 600;
            padding-right: 32px;
            padding-left: 32px;
        }
    }
}
.vacandetail{
    background-color: #f0f0f000;
    padding: 40px;
    ul{     
        display: grid;
        grid-template-columns: repeat(3,1fr);
        li{
            box-sizing: content-box;
            box-shadow: 0px 0px 0px 0px #ff3606;
            cursor: pointer;
            margin: 10px;
            &:hover{
                box-sizing: content-box;
                box-shadow: 3px 3px 10px 3px rgba(128, 128, 128, 0.2);
                a{
                    color: #ff3606;
                }
            }
        }
    }
}
.netdiv{
    background-color: #fff;
    border: 1px solid #0000002b;
    padding: 20px;
    line-height: 25px;
}
.headdiv{
    display: flex;
    justify-content: space-between;
    a{
        font-size: 14px;
        font-weight: 500;
    }
    span{
        background-color: #ff3606;
        border-radius: 5px;
    font-size: .625rem;
    padding-right: 8px;
    padding-left: 8px;
    color: #fff;
    font-weight: 500;
    }
}
.locatdiv{
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid #0000001a;
    margin-top: 8px;
    svg{
        fill: #ff3606;
        margin-bottom: 10px;
    }
    p{
        color: #484848;
        font-size: 12px;
        margin-bottom: 10px;
    }
}
.softwarediv{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 8px;
    svg{
        fill: #ff3606;
    }
    p{
        color: #484848;
        font-size: 12px;
    }
}


// vacancies page css


.contediv{
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 3fr minmax(250px,1fr);
   margin: 100px;
}

.devildiv{
    font-size: 13px;

    p{
        margin-bottom: 10px;
        line-height: 1.5;
    a{
        cursor: pointer;
        color: #ff3606;
        border-bottom: 1px solid #ff3606;
        display: inline;
        line-height: 1.5;
        transition: border-color .3s;
    }
    }
}
.respon{
    h2{
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 2;
        letter-spacing: 1.5px;
        margin: 0 0 26px;
        text-transform: uppercase;
        margin-top: 50px;
    }
    ul{
        padding: 0;
        li{
            line-height: 1.5;
            margin-bottom: 17px;
            // padding-left: 35px;
            position: relative;
            font-size: 13px;
            list-style: none;
        }
        li::before {
            content: "o";
    color: #ff3606;
    font-weight: 600;
    display: inline-block;
    width: 1em;
    margin-right: 1em;
    font-size: 12px;
        }
    }
    }
.abtdiv{
    h2{
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 2;
        letter-spacing: 1.5px;
        margin: 0 0 26px;
        text-transform: uppercase;
        margin-top: 50px;
        a{
            cursor: pointer;
            color: #ff3606;
            border-bottom: 1px solid #ff3606;
            display: inline;
            line-height: 1.5;
            transition: border-color .3s;
        }
    }
    p{
        font-size: 13px;
        margin-bottom: 10px;
        line-height: 1.5;
    }
}
.finddiv{
    h2{
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 2;
        letter-spacing: 1.5px;
        margin: 0 0 26px;
        text-transform: uppercase;
        margin-top: 50px;
    }
}

.sec2div{
    position: relative;
}

.imgsdiv{
    // position: fixed;
    img{
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin-bottom: 30px;
    }
    h2{
       font-size: 16px;
        font-weight: 600;
        line-height: 1.1;
        margin-bottom: 10px;
    }
    p{
        border-bottom: 1px dashed #ff3606;
        color: #ff3606;
        cursor: pointer;
        display: inline-block;
        line-height: 1.5;
        margin-bottom: 8px;
        padding-right: 23px;
        font-size: 13px;
        position: relative;
        transition: border-color .3s;
        &:hover{
            border-bottom-color: #ff3606;
        }
    }
    p::after{
        border-top: 1px solid #ff3606;
        border-left: 1px solid #ff3606;
        content: '';
        height: 7px;
        position: absolute;
        right: 5px;
        top: 7px;
        transform: rotate(225deg);
        width: 7px;
        transition-duration: .3s;
        transition-property: transform,top;
        top: 5px;
        // transform: rotate(45deg);
    }
}
.mailhr{
    display: flex;
    align-items: center;
    gap: 5px; 
        a{
            border-bottom: 1px solid rgba(0, 69, 207, 0.3);
            color: #ff3606;
            cursor: pointer;
            font-size: 13px;
            &:hover{
                border-bottom-color: #ff3606;
            }
        }
}
.appdiv{
    span{
        font-size: 13px;
 a{
        border-bottom: 1px dashed rgba(0,69,207,.3);
        color: #ff3606;
        cursor: pointer;
        display: inline-block;
        font-size: 13px;
        position: relative;
        transition: border-color .3s;
        &:hover{
            border-bottom-color: #ff3606;
        }
    }
}
}
.apply{
    cursor: pointer;
    display: block;
    font-size: .875rem;
    letter-spacing: 1.8px;
    line-height: 1.14; 
    padding: 1.125rem 0;
    text-align: center;
    transition-property: background-color,color;
    transition-duration: .3s;
    background-color: #ff3606;
    color: #fff;
    margin-bottom: 18px;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 20px;
    font-weight: 500;
    &:hover{
        background-color: #ff3606;
    }
}
.linkedin{
    border: 2px solid #ff3606;
    border-radius: 0;
    color: #ff3606;
    cursor: pointer;
    display: block;
    font-size: .875rem;
    letter-spacing: 1.8px;
    line-height: 1.14;
    outline: 0;
    padding: 16px;
    text-align: center;
    transition-property: background-color,color;
    transition-duration: .3s;
    font-weight: 500;
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: 20px;
    &:hover{
        background-color: #ff3606;
        color: #ff3606;
    }
}
.share{
    margin-top: 20px;
    h2{
        font-size: 16px;
        font-weight: 600;
        line-height: 1.1;
        margin-bottom: 10px;
        color: #000000c7;
    }
}
.facelin{
    display: flex;
    gap: 10px;
    margin-top: 15px;
    svg{
        fill: #ff3606;
    }
}











@media(max-width:720px){
    .contediv{
        display: block;
        margin: 20px;
    }
    .imgsdiv{
        img{
            text-align: center;
    }
}
.vacandetail{ 
    ul {
        grid-template-columns: repeat(1,1fr);
    }
}
}