.manag{
    align-items: center;
    justify-content: center;
}


.imag{
    width: 100%;
    margin-top: 25px;
    img{
        width: 100%;
    }
}
.project{
    width: 100%;
    background-color: rgb(183, 228, 228);
    margin: 0px auto;
    display: block;
    max-width: 70%;
    padding: 20px;
    position: relative;
    top: -80px;
    h2{
        font-size: 24px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 5px;
    }
    p{
        color:rgb(0 0 0 / 80%);
        a{
            color: #ff6c6c !important;
            margin-left: 5px;
            transition: .5s;
            cursor: pointer;
            &:hover{
                border-bottom: 1px solid;
                transform: scale(1);
                 }
        }
    }
}

// Section



.picmain {
    display: flex;
    padding: 40px;
    width: 100%;
    height: 500px;
}

.pic1main {
    display: flex;
    padding: 40px;
    width: 100%;
    height: 500px;
}

.photodiv {
    flex: 1;
    overflow: hidden;
    img {
        width: 100%;
        height: 500px;
        transition: 0.5s all ease-in-out;
        &:hover {
            transition: 0.5s all ease-in-out;
            transform: scale(1.2);
        }
    }
}
.cont11div{
    flex: 1.5;
    width: 100%;
    height: 230px;
    background: #fff;
    color: black;
    margin: 0px auto;
    margin: auto;
    display: block;
    max-width: 100%;
    padding: 20px;
    position: relative;
    top: 75;
    left: -75px;
    opacity: 0.99;
    h2{
        line-height: 30px;
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 15px;
        width: 100%;
        word-spacing: 1px;
    }
    p{
                color: rgb(0 0 0 / 80%);;
                margin-bottom: 15px;
                width: 100%;
                a{
                    color: #ff6c6c !important;
                    margin-left: 5px;
                    transition: .5s;
                    cursor: pointer;
                    &:hover{
                        border-bottom: 1px solid;
                        transform: scale(1);
                         }
                }
    }
}
.cont12div {
    flex: 1.5;
    width: 100%;
    height: 230px;
    background: #fff;
    color: black;
    margin: 0px auto;
    margin: auto;
    display: block;
    max-width: 100%;
    padding: 20px;
    position: relative;
    top: 75;
    left: 74px;
    opacity: 0.99;
    z-index: 1;
    h2{
        line-height: 30px;
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 15px;
        width: 100%;
        word-spacing: 1px;
    }
    p{
                color: rgb(0 0 0 / 80%);;
                margin-bottom: 15px;
                width: 100%;
                a{
                    color: #ff6c6c !important;
                    margin-left: 5px;
                    transition: .5s;
                    cursor: pointer;
                    &:hover{
                        border-bottom: 1px solid;
                        transform: scale(1);
                         }
                }
    }
}

.contactdiv{
    float: left;
    width: 100%;
    button{
        font-weight: 500;
        padding: 15px 28px;
        color: #fff;
        border: 1px solid #ff6c6c;
        background-color: #ff6c6c;
        border-radius: 5px;
        transition: 0.6s;
        &:hover{
            color: #fff;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }
    }
}






@media(max-width:720px){
    .picmain{
        display: grid;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
    }
    .pic1main{
   display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    flex-direction: column-reverse;
    }
    .project{
        max-width: 100%;
        background-color: rgb(183, 228, 228);
        top: 0;
        padding: 20px;
      }
}
